@import "https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700&display=swap";

:root {
    --color-rocket:#7159c1;
}

* {
    margin:0;
    padding: 0;
    border: 0;
}
body {
    background: #282a36;
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
}
header {
    padding: 32px;
    border-bottom: 1px solid #333;
    background: rgba(0, 0, 0,0.1);
}
.links {
    text-align: center;
}
.links a {
    color: white;
    font-size: 18px;
    line-height: 28px;
    margin: 0 16px;
    padding-bottom: 3px;
    text-decoration: none;
}
.links a:hover {
    color: #ec6e75;
    transition: color 200ms;
}

#wrapper {
    text-align: center;
    padding: 32px;
}

#wrapper img {
    border-radius: 50%;
    border: 3px solid #d73e45;
    margin-bottom: 32px;
    height: 320px;
    width: 350px;
}

#wrapper h1 {
    font-size: 42px;
    line-height: 52px;
    font-weight: bold;
}

#wrapper h2 {
    font-size: 24px;
    line-height: 34px;
    font-weight: normal;
    margin-top: 8px;
    opacity: 0.8;
}

#wrapper p {
    max-width: 500px;
    margin: 32px auto;
    font-size: 24px;
    line-height: 34px;
}

#wrapper p a {
    color: #d73e45;
}

#links-footer a {
    border-bottom: 1px solid #d73e45;
}

/*=== CARDS === */
.cards {
    max-width: 800px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.card {
    background-color: #9d9292a8;
}
.card__image-container img {
    width: 100%;
}
.card__content,
.card__info {
    padding: 24px;
}
.card__info {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.card__price {
    background-color: #f7f7f7a8;
    filter: brightness(90%);
    pad: 5px 20px;
    border-radius: 20px;
    text-align: center;
}

.card__info a {
    text-decoration: none;
    color: white;
}
